
#page-content form input{
    border: 1px solid #dddddd;
    height: 40px;
    margin-bottom: 10px;
}

#page-content form  input[type="checkbox"]{
    height: 15px;
    display: inline;
}
#page-content form .help-block{
    color: red;
}